<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    
    <div class="panel-heading">
      <div class="container-fluid">
        <img src="./images/ballotize.png" margin-: -4px class="center-block img-responsive" alt="image">
        <h1 style="font-family:Brush Script MT; margin: 0; padding: 0; border: 0; color:blue;text-align:center; font-size: 50px;color:#003399; text-padding: 0">Ballotize</h1>
        <p style ="font-family:Tw Cen MT; font-size: 18px; color: black" align="center">Instant voting on anything</p>
      </div>
    </div>

    <div style="padding-top:1px" class="panel-body" >
      <form class="form-horizontal" role="form" name="createBallotForm">
        <h4 style="font-family:Tw Cen MT; text-align:center; font-weight:600">Ballot Creator</h4>
        <div style-"margin-bottom: 20px;">
          <input type="text" class="form-control" ng-model="initiator" ng-value="initiator" name="name" placeholder="" readonly>
        </div>

        <h4 style="font-family:Tw Cen MT; text-align:center; font-weight:600;">Code</h4>
        <div style-"margin-bottom: 20px;">
          <input type="text" class="form-control" ng-model="choices.code" ng-value="randomCode" name="" placeholder="Enter code" readonly>
        </div>

        <h4 style="font-family:Tw Cen MT; text-align:center; font-weight:600;">Voting Topic</h4>
        <div style-"margin-bottom: 20px;">
          <input type="text" class="form-control" ng-model="choices.topic" name="" placeholder="Enter topic" required="true" novalidate>
        </div>
        <h4 style="font-family:Tw Cen MT; text-align:center; font-weight:600">Enter Choices</h4>
        <div style="margin-bottom: 10px; padding-left: 16px">
          <div class="form-group" ng-repeat="choice in choices.choices" style="padding-right: 12px;">
            <input type="text" class="form-control" ng-model="choice.name" name="" placeholder="Enter choice" required="true" novalidate>
          </div>
          <div class="text-center" ng-repeat="choice in choices.choices" style="padding-right: 12px">
            <button ng-show="$last" ng-click="addNewChoice()" class="btn btn-primary btn-inline-block" style="font-family:Tw Cen MT; margin:10px;">Add a choice</button>
            <button ng-show="$last" ng-click="removeChoice()" class="btn btn-danger btn-inline-block" style="font-family:Tw Cen MT; margin:10px;">Remove choice</button>
          </div>
          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls text-center">
              <a href="#/adminvotingpage"><button type="submit" ng-click="generateBallot(); saveCode()" class="btn btn-success btn-block" ng-disabled="createBallotForm.$invalid">Generate Ballot </button></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

