
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">

      <div class="panel-heading">
        <div class="panel-title"><i class="glyphicon glyphicon-thumbs-up"> Ballot.io</i></div>
      </div>

      <div style="padding-top:10px;" class="panel-body" >
        <div>
          <h2>Winner</h2>
          <ul class="list-group">
            <li class="list-group-item">Chipotle</li>
          </ul>
        </div>
        <div>
          <h2 >Vote Results</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">2</span>
              Chipotle
            </li>
            <li class="list-group-item">
              <span class="badge">0</span>
              Chophouse
            </li>
            <li class="list-group-item">
              <span class="badge">1</span>
              Bennies
            </li>
          </ul>
        </div>

        <div class="form-group text-center">
          <!-- <div class="col-sm-offset-2 col-sm-10"> -->
          <a href="#/ballotinitiation"><button type="submit" ng-click="saveResults()" class="btn btn-success">Save Results</button></a>
          <!-- </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
