<h2>Winner</h2>
<ul class="list-group">
  <li class="list-group-item">Chipotle</li>
</ul>
<h2>Vote Results</h2>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">2</span>
    Chipotle
  </li>
  <li class="list-group-item">
    <span class="badge">0</span>
    Chophouse
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Bennies
  </li>
</ul>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <a href="#/ballotinitiation"><button type="submit" ng-click="saveResults()" class="btn btn-success">Save Results</button></a>
  </div>
</div>
