<h2>Winner</h2>
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active">Chipotle</li>
</ul>
<h2>Vote Results</h2>
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Chipotle 2 votes</a></li>
  <li role="presentation"><a href="#">Chophouse 0 votes</a></li>
  <li role="presentation"><a href="#">Bennies 1 vote</a></li>
</ul>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" ng-click="saveData()" class="btn btn-success">Save Results</button>
  </div>
</div>
